{% extends 'base.html' %}
{% block content %}
  <div class="categories">
    <div class="wrapper">
    {% for category in categories %}
      <a href="/category/{{category.id}}">{{category.name}}</a>
    {% endfor %}
    </div>
      
  </div>
  <div class="items">
    <div class="wrapper">
      <h1>Товары в продаже</h1>
      <div class="products">
        {% for item in products %}
        <div class="product">
          <img class="product__image" src="{{item.image}}" alt="{{item.name}} за {{ item.price }} WEI" />
          <a href="/item/{{item.id}}" class="product__title">{{ item.name }}</a>
          <div class="product__price">{{ item.price }} WEI</div>
          <a href="#" class="product__button buy">Купить сейчас</a>
          <input type="hidden" class="price" value="{{item.price}}"/>
          <input type="hidden" class="address" value="{{item.address}}"/>
        </div>
        {% endfor %}
        <div class="holder"></div>
        <div class="holder"></div>
        <div class="holder"></div>
      </div>
    </div>
  </div>
{% endblock %}