{% extends 'base.html' %}
{% block content %}
<script src="https://api.fondy.eu/static_common/v1/checkout/ipsp.js"></script>
<script>
function checkoutInit(url) {
	$ipsp('checkout').scope(function() {
		this.setCheckoutWrapper('#checkout_wrapper');
		this.addCallback(__DEFAULTCALLBACK__);
		this.action('show', function(data) {
			$('#checkout_loader').remove();
			$('#checkout').show();
		});
		this.action('hide', function(data) {
			$('#checkout').hide();
		});
		this.action('resize', function(data) {
			$('#checkout_wrapper').width(480).height(data.height);
		});
		this.loadUrl(url);
	});
};
var button = $ipsp.get("button");
button.setMerchantId({{ecommerce.merchant_id}});
button.setAmount({{item.price}}, 'RUB', true);
button.setHost('api.fondy.eu');
button.setResponseUrl('https://dynamic-door.ru/confirm/{{oid}}');
checkoutInit(button.getUrl());
</script>

<div id="checkout">
	<div id="checkout_wrapper" style="margin: 0 auto; "></div>
</div>
{% endblock %}